/* contact start */
.contact_cover{
    width: 100%;
    height: 640px;
    background-image: url('../assets/contact.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_cover .title_big{
    padding-block-start: 8%;
    font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1920 - 300)));
    letter-spacing: 24px;
    margin-block-end: 9%;
}

.contact_map{
    height: 584px;
    background-color: #ccc;
}

.contact-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block-start: 23%;
    margin-block-end: 13%;
}

.contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 285px;
    color: #fff;
}

.contact-mob .contact-mob-icon{
    display: block;
    width: 64px;
    height: 120px;
    background-image: url('../assets/phone.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-mob-marker{
    width: 87px !important;
    height: 117px;
    background-image: url('../assets/pin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-mob-marker{
    width: 87px !important;
    height: 117px;
    background-image: url('../assets/pin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-mob-email{
    width: 96px !important;
    height: 74px;
    background-image: url('../assets/mail.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-name{
    color: #fff;
    text-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    font-size: 23px;
    font-family: 'SF-Pro-Black';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.contact-data{
    font-weight: bold;
    color: #fff;
    opacity: .9;
    text-decoration: none;
}
.contact-mob-email + .contact-name{
    margin-top: 72px;    
}

.contact-item.contact-location > span:not(:last-child):not(.contact-name){
    opacity: 1;
    margin-bottom: 8px;
}

.contact-form{
    margin-block-end: 5%;
}
.contact-form h1{
    color: #fff;
    font-size: 62px;
    font-family: 'SF-Pro-Black';
    font-weight: bold;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 0 15px rgba(0,67,211,.8), -4px 0 15px rgba(0,67,211,.8);
    margin-block-end: 4%;
}

.contact-form form{
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'SF-Pro-Thin';
}

.contact-form form input,
.contact-form form textarea{
    margin-bottom: 44px;
}

.contact-form form button{
    max-width: 330px;
    margin: 0 auto;
    letter-spacing: 1px;
    padding: 0 30px;
}
/* contact end */